
Scripts/slurm_scripts/which_files_failed.sh
Scripts/slurm_scripts/transcriptsort.sh
Scripts/slurm_scripts/TPMmat_F22.sh
Scripts/slurm_scripts/pilar_bbduk_F22-7-SO2.sh
Scripts/slurm_scripts/pilar_bbduk_F22-7-SO1.sh
Scripts/slurm_scripts/pilar_bbduk.sh
Scripts/slurm_scripts/mutiqc_fastqc_F22-11.sh
Scripts/slurm_scripts/multiqc_fastqc_F22-7.sh
Scripts/slurm_scripts/multiqc_fastqc_1314-7.sh
Scripts/slurm_scripts/multiqc_fastqc.sh
Scripts/slurm_scripts/multiqc_fastp.sh
Scripts/slurm_scripts/list_reads.sh
Scripts/slurm_scripts/kallistoquant_faultyhd5.sh
Scripts/slurm_scripts/kallisto_quant1.sh
Scripts/slurm_scripts/fastqc_input.sh
Scripts/slurm_scripts/fastqc.sh
Scripts/slurm_scripts/fastpwheat_phred20.sh
Scripts/slurm_scripts/fastpwheat.sh
Scripts/slurm_scripts/fastptester.sh
Scripts/slurm_scripts/fastpredo_F22-7-SO2.sh
Scripts/slurm_scripts/fastpredo_F22-11-OA3.sh
Scripts/slurm_scripts/fastpredo.sh
Scripts/slurm_scripts/control_DEGs.sh
Scripts/slurm_scripts/cat_transcripts.sh
Scripts/slurm_scripts/.DS_Store
Scripts/.DS_Store
